.formField {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 20px;
  color: #1f1f1f !important;
}

.required {
  color: #ff4d4f;
  margin-left: 4px;
}

.inputWrapper {
  position: relative;
}

.error {
  margin-top: 4px;
  font-size: 12px;
  display: block;
}

.helpText {
  margin-top: 4px;
  font-size: 12px;
  display: block;
}
