@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/NexaThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Thin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/NexaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/NexaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Regular-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Book-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-XBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-XBold-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Heavy-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/NexaBlack.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NexaText";
  src: url("/fonts/NexaText/Nexa-Black-Italic.woff") format("woff");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

/* Usage example:
  body { font-family: 'NexaText', sans-serif; }
*/
