.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  gap: 1.5rem;
  padding: 1rem var(--paddingXL) 0 var(--paddingXL);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.endMarker {
  flex-shrink: 0;
  min-width: 24px;
  min-height: 24px;
}
